:root {
	--black: #0C0C0F;
	--light-black: #1F1F29;
	--purple: #7B6079;
	--red: #DE8971;
	--green: #A7D0CD;
	--beige: #FFE9D6;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	max-width: 100vw;
	background: #f9f9f4;
}
